[init]
	defaultBranch = main
[gpg]
	format = ssh
[commit]
	gpgsign = true

[includeIf "gitdir:~/Developer/lohum/"]
    path = ~/Developer/lohum/.gitconfig-work

[includeIf "gitdir:~/Developer/personal/"]
    path = ~/Developer/personal/.gitconfig-personal

[core]
	excludesfile =~/.gitignore
	editor = vim
[user]
	signingkey = ~/.ssh/github-personal.pub
[push]
	autoSetupRemote = true
